.AddFoodForm {
   flex-direction: column;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    border: 3px solid rgb(1, 25, 63);
    border-radius: 5px;
    box-shadow: 0.1px 0.2px 4px rgb(0, 98, 255);
}
.AddFoodForm input{
    width: 500px;
    margin-bottom: 10px;
    border: 2px solid rgb(1, 25, 63);
    border-radius: 5px;

}

.AddFoodForm button{
    margin-bottom: 20px

}
